<footer>
    <p class="georgia-pro">© 2024 Vinko Krobot</p>
    <a href="https://github.com/vinc937"
      ><img src="/assets/icons/github.svg" class="footer-icons" />
    </a>
    <a href="https://www.linkedin.com/in/vinko-krobot-2b2911210/"
      ><img src="/assets/icons/linkedin.svg" class="footer-icons" />
    </a>
  </footer>
</div>
</body>
</html>